body {
  margin: 0;
}

.user-menu .user-image {
  width: 2rem;
  height: 2rem;
  font-size: 0.875rem;
}

.user-header .user-image {
  width: 5rem;
  height: 5rem;
}

.account-avatar {
  width: 5rem;
  height: 5rem;
}

.sidebar-brand .brand-image {
  width: 3.2rem;
  height: 2.2rem;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small-box-icon.bi {
  font-size: 4rem;
  top: 15px;
  right: 15px;
  height: auto;
  width: auto;
}
